html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* -------------------------------------------------------------------------- */

a {
  color: black;
}

a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

/* -------------------------------------------------------------------------- */

.logo-text {
  text-align: center;
  color: black;
}

.center {
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

/* -------------------------------------------------------------------------- */

.image {
  height: auto;
}

.large.image {
  height: 300px;
}

.medium.image {
  height: 250px;
}

.small.image {
  height: 200px;
}

.featured.image {
  height: 300px;
}

/* -------------------------------------------------------------------------- */

.title {
  font-weight: bold;
}

.large.title {
  margin: 20px 0;
  font-size: 36px;
}

.medium.title {
  margin: 20px 0;
  font-size: 30px;
}

.small.title {
  margin: 20px 0;
  font-size: 24px;
}

/* -------------------------------------------------------------------------- */

.snippet {
  color: gray;
}

.large.snippet {
  margin: 10px 0;
  font-size: 18px;
}

.medium.snippet {
  margin: 3px 0;
  font-size: 14px;
}

.small.snippet {
  margin: 2px 0;
  font-size: 10px;
}

/* -------------------------------------------------------------------------- */

.meta {
  color: gray;
}
